body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.login-color {
    background-color: #80a7d1b4;
}

button.register-color {
    background-color: #FC766AFF;
}

h1.login-color {
    color: #80a7d1b4;
}

h1.register-color{
    color: #FC766AFF;
}

.auth {
    margin-top: 20px;
    background-color: #e6e6e6;
    width: 450px;
    height: auto;
    padding-bottom: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth h1 {
    text-align: center;
    font-size: 2.5rem;
}

#register {
    display: none;
}

.auth-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.auth-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.auth-form label {
    font-weight: 700px;
}

.auth-form input{
    font-size: 1.5rem;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;

}
.auth-form input:focus {
    outline: none;
    background-color: lightgrey;
}

button{

    width: 40%;
    font-family: 'Bangers', cursive;
    font-size: 1.5em;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.30), 0 5px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    margin-top: 30px;
}