/* PLAYER GAME */

.player {
    position: relative;
    top: 250px;
    left: 70px;
    font-size: 5em;
}
.players{
    position: relative;
    top: -85px;
    left: 70px;
    font-size: 5em;
}
.dp_img1 {
    right: 20px;
    top: 50px;
    width: 340px;
}
.dp_img2 {
    left:80px;
    top: -140px;
    width: 340px;
}

.play_player {
    display: none;
    position: fixed;
    top: 30px;
    width: 50px;
    right: 49%;
    cursor: pointer;
}

.pause_player {
    position: fixed;
    top: 30px;
    width: 50px;
    right: 49%;
    cursor: pointer;
}

.play_player_1 {
    display: none;
    position: fixed;
    top: 30px;
    width: 50px;
    right: 30%;
    cursor: pointer;
}

.pause_player_1 {
    position: fixed;
    top: 30px;
    width: 50px;
    right: 30%;
    cursor: pointer;
}

.play_player_2 {
    display: none;
    position: fixed;
    top: 30px;
    width: 50px;
    right: 67%;
    cursor: pointer;
}

.pause_player_2 {
    position: fixed;
    top: 30px;
    width: 50px;
    right: 67%;
    cursor: pointer;
}
.score-container_player {
    position: fixed;
    top: 0;
    font-size: 2.5em;
    right: 60%;
}
.lvl-container_player {
    position: fixed;
    top: 0;
    font-size: 2.5em;
    right: 32%;
}

.score-container_player_2 {
    position: fixed;
    top: 0;
    font-size: 2.5em;
    right: 39%;
}
.lvl-container_player_2 {
    position: fixed;
    top: 0;
    font-size: 2.5em;
    right: 19%;
}

.score-container_player_1 {
    position: fixed;
    top: 0;
    font-size: 2.5em;
    right: 75%;
}
.lvl-container_player_1 {
    position: fixed;
    top: 0;
    font-size: 2.5em;
    right: 55%;
}

canvas {  
    border: 5px solid #FC766AFF;
    background-color: #80a7d1b4;  
    border-radius: 1%;
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;

    
}  

.ranking-container {
    position: fixed;
    left: 10%;
    width: 250px;
    height: 250px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 20px;
}

.ranking-container ul {
    /* background-color: red; */
    height: 80%;
    width: 75%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

.ranking-container ul li::first-letter {
    font-size: 2.5rem;
}

.ranking-container ul li {
    display: flex;
    
    justify-content: space-around;
}

#first_ranking {
    color: #D7BE69;
}

#second_ranking {
    color: #C0C0C0;
}

#third_ranking {
    color: rgb(184, 115, 51);
}
