body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
}

input {
    font-family: 'Bangers', cursive;
}

.user {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
}

.user:hover, .logout:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.logout {
    position: absolute;
    top: 20px;
    right: 100px;
    width: 50px;
}